html {
  scroll-behavior: smooth;
}

section{
  padding: 100px 0;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.section-heading, .fgigs-section-heading, .contact-section-heading{
  text-align: center;
  margin-bottom: 80px;
  font-family: 'Ubuntu', sans-serif;
}

/*----GOOGLE FONT IMPORT----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*--NAVIGATION MENU--*/
.navbar{
    width: 100%;
    height: 17%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 999;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif
}
.navbar .scrolly{
    width: 100%;
    height: 10%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 999;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif
}
.navbar .scrollyLogo {
  font-size: 88px;
  font-weight: 88px;
}
.navbar .scrollyLogo img{
    width: 77px;
    height: 77px;
}
.navbar.hide {
   top: -150px
}

.navbar.sticky {
  padding: 5px 5px;
  left: 0;
  background: #242323bd;
}


.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo{
    width: 150px;
    height: 150px;
}
.navbar .logo img{
    width: 130px;
    height: 130px;
}

.navbar .nav-links{
    flex: 1;
    font-family: 'Ubuntu','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-align: right;
}
.navbar .nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar .nav-links ul li a{
    color: #FCF5E5;
    text-decoration: none;
}
.navbar.sticky .nav-links ul li a{
    color: #f37f51;
}
.navbar .nav-links ul li a:hover{
    color: #f3713d;
}
.navbar.sticky .nav-links ul li a:hover{
    color: #FCF5E5;
}


/*--HOME SCREEN--*/

/*-- First part--*/
.home{
  display: flex;
  background: url("https://cdn.glitch.global/f824a37e-a4ec-4323-99c4-e7c1da4c18ae/Huge-Backgrounds-6.webp?v=1650843601293") no-repeat center;
  background-size: cover;
  margin: -8px;
  height: 103vh;
  color: #FCF5E5;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif
}

.home .home-content{
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.home .home-content .text1 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FCF5E5;
  letter-spacing: 0.5px;
}
.home .home-content .text2 {
  margin-top: 30px;
  margin-left: 300px;
  margin-bottom: 25px;
  font-size: 84px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FCF5E5;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate, blink 800ms steps(13) infinite normal;
  border-right: 5px solid black;
}
      @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 63%;
        }
      }
      @keyframes blink {
        from {
          border-color: black;
        }
        to {
          border-color: transparent;
        }
      }

.home .home-content a{
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: #ed563b;
  color: #FCF5E5;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s;
}
.home .home-content a:hover{
  color:#FCF5E5;
  background: #f3713d;
}


.featured h2, .contact h2{
  font-size: 28px;
  font-weight: 700;
  color: #232d39;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.featured h2 span, .fgigs h2 span, .contact h2 span{
  color: #f3713d;
}
.featured img, .fgigs img, .contact img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.featured .featured-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: "Ubuntu", sans-serif;
}
.featured .featured-content .card{
    width: calc(33% - 20px);
    background: #48494bbd;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.featured .featured-content .card:hover{
    background: #f37f51;
}
.featured .featured-content .card .box{
    transition: all 0.3s ease;
}
.featured .featured-content .card:hover .box{
    transform: scale(1.05);
}
.featured .featured-content .card i{
    font-size: 50px;
    color: #f37f51;
    transition: color 0.3s ease;
}
.featured .featured-content .card:hover i{
    color: #fff;
}
.featured .featured-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.fgigs{
  display:flex;
  background: url("https://cdn.glitch.global/f824a37e-a4ec-4323-99c4-e7c1da4c18ae/photo-1501339847302-ac426a4a7cbb.jpg?v=1650844370736");
}
.fgigs h2{
  font-size: 28px;
  font-weight: 700;
  color: #FCF5E5;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.fgigs .carousel .card{
    background: #070707;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.fgigs .carousel .card:hover{
    background: #f37f51;
}
.fgigs .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.fgigs .carousel .card:hover .box{
    transform: scale(1.05);
}
.fgigs .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #FCF5E5;
}
.fgigs .carousel .card .box p{
  color: #FCF5E5
}
.fgigs .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f37f51;
    transition: all 0.3s ease;
}
.fgigs .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #f37f51!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #f37f51!important;
}

.contact .contact-content .column.left.right{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #f37f51;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #f37f51;
  border: 2px solid #f37f51;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #f37f51;
  background: none;
}


footer{
  background: #111;
  padding: 20px 23px;
  color: #FCF5E5;
  text-align: center;
}

/*.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50);
}
.circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50);
}*/